<h1>Posts</h1>

<% @posts.each do |post| %>
    <%= render 'posts/posts' , post: post%>
<% end %>

<div class="text-center" id="paginator">
  <%= link_to_next_page @posts, 'Next Page' %>
  <%= link_to_prev_page @posts, 'Previous Page' %>
  
</div>



