@import 'bootstrap/dist/css/bootstrap';

img {
    display: block;
    max-width: 20%;
     height: auto;
    // margin-left: auto;
    // margin-right: auto;
    // width: 50%;
}

.center
{
  align-content: center;
}
  
.width
{
  width: 40%;
}

html {
  height: 100%;
}

.registration-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image-url('/assets/background.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar {
  margin-bottom: 0px;
}

.alert {
  margin-bottom: 0px;
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}

.panel {
  border-radius: 8px;
}

.panel-heading{
  h1 {
    text-align: center;
  }
}

.login-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image-url('/assets/background.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

