@import 'bootstrap/dist/css/bootstrap';

img {
    display: block;
    max-width: 20%;
     height: auto;
    // margin-left: auto;
    // margin-right: auto;
    // width: 50%;
}

.center
{
  align-content: center;
}
  
.width
{
  width: 40%;
}